.containertimeline {
width: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding: 40px;
}

.containertimeline h1 {
padding-bottom: 25px;
color: #fff;
font-size: 28px;
font-family: IM Fell Great Primer SC,serif;
text-transform: uppercase;
}

.timeline{
	width:60%;
	background-color:#ffffff;
	color:#000000;
	padding:30px 20px;
	box-shadow:0px 0px 10px rgba(0,0,0,.5);
  
}
.timeline ul{
	list-style-type:none;
	border-left:2px solid #60046b;
	padding:10px 5px;
}
.timeline ul li{
	padding:20px 20px;
	position:relative;
	cursor:pointer;
	transition:.5s;
}
.timeline ul li span{
	display:inline-block;
  padding: 10px 16px;
    font-size: 15px;
    text-align: center;
    border-bottom: 3px solid #ab19d8;
    font-weight: bold;
}
.timeline ul li .content h3{
	color:#ab19d8;
	font-size:17px;
	padding:15px;
}
.timeline ul li .content p{
	padding:5px 0px 15px 0px;
	font-size:15px;
}
.timeline ul li:before{
	position:absolute;
	content:'';
	width:10px;
	height:10px;
	background-color:#490240;
	border-radius:50%;
	left:-11px;
	top:28px;
	transition:.5s;
}
.timeline ul li:hover{
	box-shadow:0px 0px 10px rgba(0,0,0,.5);
	transform: translateY(-10px);
}
.timeline ul li:hover:before{
	background-color:#e670cf;
	box-shadow:0px 0px 10px 2px #e670cf;
}
@media (max-width:300px){
	.timeline{
		width:100%;
		padding:30px 5px 30px 10px;
	}
	.timeline ul li .content h3{
		color:#34ace0;
		font-size:15px;
	}

}
